<div>
  <h3 class="heading">About</h3>
  <p class="descriptions">
    As a seasoned Full Stack Developer and team lead, I specialize in crafting
    scalable, high-performance web applications using a wide range of
    technologies, including NestJS, React.js, Node.js, and MongoDB. With
    expertise in both backend and frontend development, I bring a strong focus
    on maintaining efficient CI/CD pipelines and managing DevOps infrastructure.
    My goal is to drive innovation, improve productivity, and deliver top-tier
    digital solutions that align with business needs.
    <br />
    <br />
    Throughout my career, I have led development teams in designing and implementing
    complex systems, ensuring seamless collaboration and delivering optimized code.
    My ability to enhance processes through automation, troubleshoot critical issues,
    and mentor team members has been key to meeting project goals on time and within
    scope. Passionate about continuous improvement, I strive to create user-friendly
    interfaces and maintain clean, maintainable codebases that support long-term
    project success.
  </p>
</div>

<style>
  .descriptions {
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(148, 163, 184);
  }
</style>
