---
import ExperianceCard from "../components/ExperianceCard/index.astro"
---
<div>
    <h3 class="experinace_text">Experience</h3>
    <ExperianceCard/>
    <ExperianceCard/>
    <ExperianceCard/>
</div>


<style>
    div{
        display: block;
        position: relative;
        width: auto;
    }
    .experinace_text{
        padding: 20px;
        text-transform: uppercase;
        font-size: 20px;
    }
</style>