---
import Experiance from "./Experiance.astro";
import About from "./About.astro"
---

<div class="main">
    <About/>
    <Experiance/>
    
    
</div>
<style>
    .main {
        margin-left: 10%;
    }
</style>