---
import Intro from "./Intro.astro";
import Navbar from "./Navbar.astro";
---

<style>
  .sidebar {
    /* color: rgb(27, 143, 143); */
    
    /* border: 5px solid red; */
    position: fixed;
    height: 100%;
    width: 50%;
  }
  .sidebar-inside {
    margin-left: 40%;
    position: relative  }
</style>

<div class="sidebar">
  <div class="sidebar-inside">
    <Intro/>
    <Navbar>
    wrewererwerwe
  </div>
</div>
