
<div class="intro">
    <h1>Muhammar Farhan</h1>
    <h3>Full Stack Devloper</h3>
    <br>
    <p>Exploiting and transforming Web 2.0
        (and subsequently Web 3.0) solutions
        for sustainable development goals
        through Machine Learning and Model
        Driven Engineering.</p>

</div>

<style>
    .intro {
        width: 400px;
        margin-top: 70px;
        margin-bottom: 50px;
    }
</style>