<div class="intro">
  <h1>Muhammar Farhan</h1>
  <h3>Full Stack Devloper</h3>
  <br />
  <p>
    Exploiting and transforming Web 2.0 (and subsequently Web 3.0) solutions for
    sustainable development goals through Machine Learning and Model Driven
    Engineering.
  </p>
</div>

<style>
  h1 {
    font-family: "Arial Black", "Helvetica Bold", sans-serif;
    /* font-size: 48px; */
    font-weight: 900;
    color: #ccd6f6;
    text-transform: uppercase;
    letter-spacing: -1px;
  }
  .intro {
    width: 400px;
    margin-top: 70px;
    margin-bottom: 50px;
  }
</style>
