---
import Badge from "../../UI/badge.astro"
---

<div class="experinace_card">
  <div class="experinace">2002 -- 2003</div>
  <div class="info">

    <h4 class="title">Software Engineer, Walqalum</h4>
    <!-- <div></div> -->
    <div>
      <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore,
        accusantium cupiditate cum optio quaerat dignissimos dolores omnis
        provident? Optio animi similique at molestiae officiis amet impedit
        velit! Ad, itaque laudantium.
      </p>
      <div>
        <Badge 
        text="React"
        />
      </div>
    </div>
  </div>
</div>
<style>
.experinace_card{
  display: flex;
  position: relative;
  padding: 5px;
  margin-bottom: 20px;
}
.experinace {
  width: 400px;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  padding-right: 3%;
  color: rgb(100, 116, 139)

}
.title{

}
.description{
  font-size: 14px;
  line-height: 21px;
  padding-top: 10px;
  padding-bottom: 10px;
  color:   rgb(148, 163, 184);
  ;


}

</style>
